@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: 'Poppins', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 50%;
  height: 420px;
  text-align: center;
  box-sizing: border-box;
}

section h1 {
  font-size: 48px;
  padding: 20px;
  color: #3e3e3e;
  font-weight: 800;
}

form input {
 border: none;
 box-sizing: border-box;
 padding: 15px;
 color: #888;
 border-radius: 5px;
 /* background-color: #f7f7f7; */
 background-color: #5a23d024;
 outline: none;
 font-size: 24px;
 font-weight: 600;
}

form button {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  background-color: #64b1687d;
  color: #888;
  font-size: 24px;
}

.container {
  display: flex;
  padding: 0 33px;
  justify-content: center;
  align-items: center;
  color: #3e3e3e
}

.details {
  flex-direction: column;
  width: 30%;
}

.weather {
  display: flex;
  padding-top: 15px;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.weather p {
  font-size: 24px;
  text-transform: uppercase;
}

.weather img {
  width: 65px;
  height: 65px;
}

.actions {
  width: 100px;
  min-width: 100px;
  height: 30px;
  position: relative;
}
.actions button {
  font-size: 20px;
  padding: 0 15px;
  width: 50px;
  height: 30px;
  position: absolute;
  transition: all .5s;
  background-image: linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
  -webkit-background-clip: text;  
  background-clip: text;
  color: transparent;
  border: none;
}
.actions button:before, .actions button:after, .actions .selected:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  transition: all .5s;
}
.actions button:before {
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  background-image: linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
}

.actions button:after {
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
}

.actions button:hover {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, .75);
}

.selected {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, .75);
  background-image: linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
}

.actions button:hover:after, .actions .selected:after {
  left: 100%;
  top: 100%;
  bottom: 100%;
  right: 100%;
}

#celsius {
  left: 1px;
}

#celsius:after {
  right: 0px;
}

.container > p {
  font-size: 54px;
  padding: 0 10px;
  width: 30%;
  height: 80px;
}